h1{
  font-family: 'Fjalla One', sans-serif;
}

body{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

#section1{
  background-image: url("assets/vaccine.jpg");
  color : #fffff;
}

.blogpost{

}
